<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price Board</title>   
    
    <style>
        h1 {
            font-family: 'Montserrat', sans-serif;
        }
        label, a {
            font-family: 'Montserrat', sans-serif;
        }
        .helvetica-div {
            font-family: Helvetica, Arial, sans-serif;
        }
    </style>

    <!-- Monserat Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <center>Meet<br><p style="font-size: 100px">Gaia</p></center>

</body>
