<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price Board</title>   
    
    <style>
        .montserratFont {
            font-family: 'Montserrat', sans-serif;
        }
    </style>

    <!-- Monserat Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <!-- Tailwind -->
        <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="grid grid-cols-3">
            <!-- 1st -->
            <div class="grid grid-rows-6">
                <div class="row-span-1 bg-blue-100">
                    <div class="grid grid-rows-2 h-full">
                        <div class="inline-flex justify-center items-center montserratFont text-4xl font-bold">
                            Your Challenges
                        </div>
                        <div class="inline-flex justify-center items-center montserratFont">
                            Description
                        </div>
                    </div>
                </div>
                <div class="row-span-5">
                    <div class="grid grid-rows-2 h-full">
                        <div class="bg-blue-500">
                            <div class="grid grid-rows-6 h-full border-2 border-black rounded-lg p-4">
                                <div class="row-span-1 inline-flex justify-center items-center montserratFont text-2xl">
                                    Daily Challenges
                                </div>
                                <div class="row-span-5">
                                    <ul class="">
                                        {% for key, value in dailyDict.items() %}
                                        <form method="POST">
                                            {% if value == True %}
                                                <li class="flex justify-start ml-10 line-through text-slate-600">
                                                    <button type="submit" name="doneness" value="{{ key }}">
                                                        {{key}}
                                                    </button>
                                                </li>
                                            {% else %}
                                                <li class="flex justify-start ml-10">
                                                    <button type="submit" name="doneness" value="{{ key }}">
                                                        {{key}}
                                                    </button>
                                                </li>
                                            {% endif %}
                                        </form>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div>
                            2
                        </div>
                    </div>
                </div>
            </div>
            <!-- end -->

        <!-- 2nd -->
        <div class="grid grid-rows-6 h-screen">
            <div class="row-span-1 bg-blue-100">
                <div class="grid grid-rows-2 h-full">
                    <div class="inline-flex justify-center items-center montserratFont text-4xl font-bold">
                        Your Tree
                    </div>
                    <div class="inline-flex justify-center items-center montserratFont">
                        Description
                    </div>
                </div>
            </div>
            <div class="row-span-5">
                <div class="grid grid-rows-6 h-full">
                    <div class="row-span-5">
                        <div class="grid grid-rows-6 h-full border-2 border-black rounded-lg p-4">
                            <div class="row-span-5 inline-flex justify-center items-center montserratFont text-2xl">
                                {% if treeScore <= 2 %}
                                <div>
                                    1st
                                </div>
                                {% elif 2 < treeScore <= 4 %}
                                <div>
                                    2
                                </div>
                                {% elif 4 < treeScore <= 6 %}
                                <div>
                                    3
                                </div>
                                {% elif 6 < treeScore <= 8 %}
                                <div>
                                    4
                                </div>
                                {% elif 8 < treeScore %}
                                <div>
                                    5
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row-span-1">
                        Reset
                    </div>
                </div>
            </div>
        </div>

        <div>
            3
        </div>
    </div>
</body>
