<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price Board</title>   
    
    <style>
        .montserratFont {
            font-family: 'Montserrat', sans-serif;
        }
    </style>

    <!-- Monserat Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <!-- Tailwind -->
        <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="grid grid-cols-3">
            <div class="grid grid-rows-6">
                <div class="row-span-1 bg-blue-100">
                    <div class="grid grid-rows-2 h-full">
                        <div class="inline-flex justify-center items-center montserratFont text-4xl font-bold">
                            Your Challenges
                        </div>
                        <div class="inline-flex justify-center items-center montserratFont">
                            Description
                        </div>
                    </div>
                </div>
                <div class="row-span-5">
                    <div class="grid grid-rows-2 h-full">
                        <div class="bg-blue-500">
                            <div class="grid grid-rows-6 h-full">
                                <div class="row-span-1 inline-flex justify-center items-center montserratFont text-2xl">
                                    Daily Challenges
                                </div>
                                <div class="row-span-5">
                                    <ul>
                                        {% for key, value in dailyDict.items() %}
                                        <li>
                                            {{key}}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div>
                            2
                        </div>
                    </div>
                </div>
            </div>


        <div class="grid gird-rows-9 h-screen">
            <div class="bg-red-100 row-span-1 flex justify-center items-center text-4xl">
                Grow Your Tree
            </div>
            <div class="bg-blue-100 row-span-6">
                2
            </div>
            <div class="bg-red-100 row-span-2">
                3
            </div>            
        </div>
        <div>
            3
        </div>
    </div>
</body>
