<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viridis</title>
    
    <style>
        .montserratFont {
            font-family: 'Montserrat', sans-serif;
        }
    </style>

    <!-- Monserat Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- CSS styling for quizzes -->
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/style1.css">
    <script src="{{ url_for('static', filename='main1.js') }}" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <div class="grid grid-cols-3 bg-no-repeat bg-center bg-cover" style="background-image: url('static/main-bg.jpg');">
            <!-- 1st -->
            <div class="grid grid-rows-6">
                <div class="row-span-1">
                    <div class="grid grid-rows-2 h-full text-[#f5f5f7]">
                        <div class="inline-flex justify-center items-end montserratFont text-4xl font-bold">
                            Task Cards
                        </div>
                        <div class="inline-flex justify-center items-center montserratFont text-[#f5f5f7] text-lg">
                            Fulfill these green actions to grow your tree
                        </div>
                    </div>
                </div>

                <div class="row-span-5">
                    <div class="grid grid-rows-3 h-full">
                        <div class="row-span-2">
                            <div class="grid grid-rows-6 h-full border-2 border-white text-[#f5f5f7] bg-[#1d1d1f] bg-opacity-70 rounded-lg p-1 m-1">
                                <div class="row-span-1 inline-flex justify-center items-center montserratFont text-2xl">
                                    Challenges {{counter}}
                                </div>
                                <div class="row-span-5">
                                    <ul class="">
                                        {% for key, value in dailyDict.items() %}
                                        <form method="POST">
                                            {% if value == True %}
                                                <li class="flex justify-start ml-10 line-through text-slate-400 montserratFont">
                                                    <button type="submit" name="doneness" value="{{ key }}">
                                                        {{key}}
                                                    </button>
                                                </li>
                                            {% else %}
                                                <li class="flex justify-start ml-10 montserratFont">
                                                    <button type="submit" name="doneness" value="{{ key }}">
                                                        {{key}}
                                                    </button>
                                                </li>
                                            {% endif %}
                                        </form>
                                        {% endfor %}
                                    </ul>
                                    <div class="flex justify-center items-center montserratFont text-sm pt-2 text-blue-500">
                                        {% if treeScore >= 9 %}
                                        Congratulations! You can plant your next tree now
                                        {% else %}
                                        {{treeScore}} down, {{9-treeScore}} more to go
                                        {% endif %}
                                    </div>
                                    <div class="flex justify-center items-center montserratFont italic text-sm pt-5 text-gray-400">
                                        *Get 9 our of 10 challenges done for completion
                                    </div>
                                    <form method="POST" class="flex justify-center items-center mt-4">
                                        <button type="submit" name="reset" value="clicked" class="bg-red-500 hover:bg-red-700 text-white font-bold px-4 py-2 rounded">
                                            Reset challenges interval
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="grid grid-rows-4 row-span-1 border-2 border-white rounded-lg p-1 mb-1 ml-1 mt-2 mr-1 bg-[#1d1d1f] bg-opacity-70 text-[#f5f5f7]">
                            <div class="flex justify-center items-center row-span-1 montserratFont text-2xl">
                                Your Statistics
                            </div>
                            <div class="inline-flex row-span-3 justify-center items-start">
                                <ul class="list-disc">
                                    <li>
                                        You have grew {{ counter }} tree(s)
                                    </li>
                                    <li>
                                        Which is a year's supply of oxygen for {{2*counter}} people
                                    </li>
                                    <li>
                                        Which absorb {{ 48*counter }} lbs of CO2 annually
                                    </li>
                                    <li>
                                        {{240 - counter}} trees away from offsetting the<br>annual carbon emission of 1 car
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end -->

        <!-- 2nd -->
        <div class="grid grid-rows-6 h-screen">
            <div class="row-span-1">
                <div class="grid grid-rows-2 h-full">
                    <div class="inline-flex justify-center items-end montserratFont text-4xl font-bold text-[#f5f5f7]">
                        Your Tree
                    </div>
                    <div class="inline-flex justify-center items-center montserratFont text-[#f5f5f7] text-lg">
                        Plant your way to a better world
                    </div>
                </div>
            </div>
            <div class="row-span-5">
                <div class="grid grid-rows-6 h-full">
                    <div class="row-span-5">
                        <div class="h-full border-2 border-white rounded-lg p-4 m-1 bg-no-repeat bg-bottom bg-cover" style="background-image: url(static/bg-forest.jpg);">
                            <div class="flex pl-4 pt-7 text-base montserratFont">
                                Tree Evolution Level: {{level}}/5
                            </div>
                                {% if treeScore <= 2 %}
                                <div class="montserratFont text-2xl">
                                    <div class="flex justify-center pt-60">
                                        <img class="w-24" src="static/phrase1.png">
                                    </div>
                                </div>
                                {% elif 2 < treeScore <= 4 %}
                                <div class="montserratFont text-2xl">
                                    <div class="flex justify-center pt-60">
                                        <img class="w-24 pb-10" src="static/phrase2.png">
                                    </div>
                                </div>
                                {% elif 4 < treeScore <= 6 %}
                                <div>
                                    <div class="flex items-center justify-center pt-60">
                                        <img class="w-28 pb-10" src="static/phrase3.png">
                                    </div>
                                </div>
                                {% elif 6 < treeScore <= 8 %}
                                <div>
                                    <div class="flex items-center justify-center pt-40">
                                        <img class="w-52" src="static/phrase4.png">
                                    </div>
                                </div>
                                {% elif 8 < treeScore %}
                                <div>
                                    <div class="flex items-center justify-center pt-32">
                                        <img class="w-60" src="static/phrase5.png">
                                    </div>
                                </div>
                                {% endif %}
                        </div>
                    </div>
                    <div class="flex row-span-1 justify-center items-center">
                        {% if level == 5 %}
                        <form method="POST">
                            <button type="submit" name="next" value="clicked" class="bg-blue-500 hover:bg-blue-700 text-white font-bold px-10 py-4 rounded">
                                Plant your next tree!
                            </button>
                        </form>
                        {% else %}
                        <button class="bg-gray-500 text-white font-bold px-10 py-4 rounded">
                            Don't abandon your tree!
                        </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- END -->

        <!-- 3rd Col -->
        <div class="grid grid-rows-6">

            <div class="row-span-1">
                <div class="grid grid-rows-2 h-full">
                    <div class="inline-flex justify-center items-end montserratFont text-4xl font-bold text-[#f5f5f7]">
                        "Tree"via & Minigame
                    </div>
                    <div class="inline-flex justify-center items-center montserratFont text-[#f5f5f7] text-lg">
                        Expand your knowledge with fun facts
                    </div>
                </div>
            </div>

            <div class="app row-span-5">
                {% if treeviaBool == True %}
                <form method="POST">
                    <div class="w-full flex justify-between">
                        <button type="submit" name="treevia" value="clicked" class="text-left text-3xl text-blue-500">Treevia</button>
                        <button type="submit" name="minigame" value="clicked" class="text-right text-[#f5f5f7] text-3xl">Minigame</button>
                    </div>
                </form>
                <div class="qui">
                    <h2 id="question" class="pt-6">Question goes here</h2>
                    <div id="answer-buttons">
                        <button class="btn">Answer A</A></button>
                        <button class="btn">Answer B</A></button>
                        <button class="btn">Answer C</A></button>
                        <button class="btn">Answer D</A></button>
                    </div>
                    <button id="next-btn">next</button>
                </div>
                <script src="{{ url_for('static', filename='script.js') }}"></script>
                {% else %}
                <form method="POST">
                    <div class="w-full flex justify-between">
                        <button type="submit" name="treevia" value="clicked" class="text-left text-[#f5f5f7] text-3xl">Treevia</button>
                        <button type="submit" name="minigame" value="clicked" class="text-right text-3xl text-blue-500">Minigame</button>
                    </div>
                </form>
                <div class="flex justify-center w-full text-lg text-green-500 pt-8">
                    Match the item to the correct bin
                </div>
                    <section class="draggable-elements">
                
                        <i class="fas fa-apple-whole draggable" draggable="true" style="color: brown;" id = "organic"></i>
                        <i class="fa-regular fa-newspaper draggable" draggable="true" style="color: darkgray;" id = "paper" ></i>
                        <i class="fa-solid fa-bottle-water draggable" draggable="true" style="color: rgb(219, 219, 29);" id = "plastic"></i>
                        <i class="fa-solid fa-wine-glass-empty draggable" draggable="true" style="color: lightblue;" id = "glass"></i>
                        <i class="fa-solid fa-plug draggable" draggable="true" style="color: orangered;" id = "metal">></i>
                
                    </section>
                    <section class="droppable-elements">
                        <div class="droppable" data-draggable-id="organic"><span>Organic</span></div>
                        <div class="droppable" data-draggable-id="plastic"><span>Plastic</span></div>
                        <div class="droppable" data-draggable-id="glass"><span>Glass</span></div>
                        <div class="droppable" data-draggable-id="metal"><span>Metal</span></div>
                        <div class="droppable" data-draggable-id="paper"><span>Paper</span></div>
                
                
                    </section>
                {% endif %}
            </div>
        </div>
    </div>
</body>
